*{
    font-family: Georgia, Times, "Times New Roman", serif;
    box-sizing: border-box;
    margin:0;
}

#logo {  
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    color: #fff;
  
    /* Visual */
    background: #4aaaa5;
  }

.navbar-header{
    margin-left:5%;
}
.collapse.navbar-collapse {
    margin-right: 14%;
    margin-left: 14%;
}

.nav .navbar .navbar-expand-md .navbar-light .bg-light .sticky-top{
    background-color: lightgray;
}
.nav .navbar-expand-md .navbar-collapse {
    padding-right:14%;
}
  
  /* media query for nav background color change */
  @media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: #4aaaa5;
    }
  }

.h1{
    display:block;
    background: #4aaaa5;
    color: white;
    margin-left: 14%;
    padding:15px;
}
.media{
    display: block;
    background:white;
    position: relative;
    margin: 0 15% 0 15%;
    overflow: auto;
    
}
.h2 {
color: #4aaaa5;
padding:5px;
border-bottom: 2px solid #ccc;
}
.btn-secondary{
background-color: #4aaaa5;
border-color:#4aaaa5;
}
.portfolio-item{
    position: relative;
    background:rgba(0, 0, 0, .5 );
    margin-bottom:20px;
    margin-top:20px;
    width:45%;
    float: left;
    height:250px;
}
.portfolio-item:nth-of-type(odd){
    float:right;
}
.portfolio-item h4{
    background: #4aaaa5;
    color:#fff;
    text-align: center;
    padding: 5% 0;
    width:100%;
    position: absolute;
    bottom:20px;
}
#port1{
    background-image: url("../images/zoo-animals.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#port2{
    background-image: url("../images/blue-crystal.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#port3{
    background-image: url("../images/hogwartscrest.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#port4{
    background-image: url("../images/cat.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#port5{
    background-image: url("../images/train.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#port6{
    background-image:url("../images/nodejs-mysql-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer{
    background-color: #777777;
    color:white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom:0;
    width:100%; 
    border-top: 6px solid #4aaaa5;

}
.clearfix{
    display:block;
    clear:both;
    margin-bottom: 130px;
}